<tr>
  <td><%= link_to article.title, article %></td>
  <td><%= l(article.updated_at) %></td>
  <td><%= link_to "Edit", edit_article_path(article) %></td>
  <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?',
                                       :method => :delete,
                                       :title => "Destroy" %>
</tr>

