<h1>Listing Discussion Categories</h1>

<table id="discussion_categories">
  <tr>
    <th>Category</th>
    <th>Discussion Count</th>
    <th>Latest Discussion</th>
  </tr>
  <% unless @categories.empty? %>
    <%= render :partial => "discussion_category", :collection => @categories %>
  <% else %>
    <tr>
      <td>There are no categories yet.</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Discussion', new_discussion_path, :title => "New Discussion" %>

