<div class="post">
  <div class="author">
    <span class="author_name"><%= post.author_name %></span>
    <p class="date"><%= l(post.created_at) %></p>
  </div>
  <div class="body">
    <%= post.body %>
  </div>
</div>

