<h1>Cornerstone Customer Support</h1>

<%= link_to "Browse Discussions", discussions_path, :title => "Browse Discussions" %>
<%= link_to "Browse Knowledge Base", knowledge_base_path, :title => "Browse Knowledge Base" %>
